@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --background-color: #08090a;
    --second-bg-color: #151616;
    --text-color: #ffffff;
    --faint-text-color: lab(100 0 0 / 0.7);
    --border-color: rgb(255, 255, 255);
    --black-text-color: lab(2.42579 -0.165291 -0.470081);
    --button-white-bg: lab(100 0 0);
    --button-black-bg: lab(100 0 0 / 0.05);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    
    position: relative;
}

header{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    background-image: url("assets/hero/bg-dark.svg");
}

nav{
    
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
    padding: 16px 24px;
    background-color: transparent;
    backdrop-filter: 12px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 15px;
}

button{
    cursor: pointer;
    padding: 4.5px 12px;
    border-radius: 2.68435e+07px;
    border: none;
    outline: none;
}

nav div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 144px;
}

nav div:last-child{
    display: flex;
    align-items: center;
    gap:8px;
    
}

nav div:last-child button{
    font-size: 15px;
    
}

nav div:last-child button:first-child{
    background-color: var(--button-black-bg);
    color: var(--text-color);
}