@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --background-color: #08090a;
    --second-bg-color: #151616;
    --hero-bg-color: lab(100 0 0 / 0.15);
    --text-color: #ffffff;
    --faint-text-color: lab(100 0 0 / 0.7);
    --border-color: #131415;
    --black-text-color: lab(2.42579 -0.165291 -0.470081);
    --button-white-bg: lab(100 0 0);
    --button-black-bg: lab(100 0 0 / 0.05);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    position: relative;
    
}

header{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center -120px ;
    /* background-position-y: 50%; */
    background-size: cover;
    background-image: url("assets/hero/bg-dark.svg");
}

nav{
    
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
    margin: 0 auto;
    padding: 16px 24px;
    backdrop-filter:calc(12px); 
    

}

.navbar{
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 15px;
}

button{
    cursor: pointer;
    padding: 4.5px 12px;
    border-radius: 2.68435e+07px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
}

.btn-height{
    height: 33.1px;
}

nav div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 144px;
}

nav div:last-child{
    display: flex;
    align-items: center;
    gap:8px;
    
}

nav div:last-child button{
    font-size: 15px;
    
}

nav div:last-child button:first-child{
    background-color: var(--button-black-bg);
    color: var(--text-color);
}

.highlighted-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: max-content;
    margin: 0 auto 40px auto;
    background-color: var(--hero-bg-color);
    padding: 4px 8px 4px 4px;
    border-radius:60px;
}

#Hero-section{
    text-align: center;
    margin: 80px auto;
    width: max-content;
}

#Hero-section h1{
    width: 688px;
    font-size: 61.28px;
    line-height: 70.472px;
    letter-spacing: -1.2256px;

}

#Hero-section p{
    margin: 24px auto;
    width: 472px;
    font-size: 18px;
}

#Hero-section div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--hero-bg-color);
    width: max-content;
    margin:0 auto;
    padding: 8px 16px;
    border-radius: 60px;
}

#Hero-section div input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
}

input::placeholder {
  color: var(--faint-text-color);
}

#hero-img {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}
#hero-img img{
    border-radius:28px 28px 0 0;
    border-left: 2px solid var(--hero-bg-color);
    border-right: 2px solid var(--hero-bg-color);
    border-top: 2px solid var(--hero-bg-color);
}

#companies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
    column-gap: 28px;
    margin: 100px auto;
    width: 1024px;
    height: 156px;
}

.company{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 64px;
}

#age{
    width: 95%;
    margin: 100px auto;
}

#age div:first-child{
    
    text-align: center;
}

#age-info h1{
    font-size: 40px;
    font-weight: 600;
}

#age-info p{
    
    font-size: 16px;
    color: var(--faint-text-color);
    width: 648px;
    margin: 24px auto 28px auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    align-items: start;
    text-align: start;
    width: max-content;
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 24px;
    width: 34%;
    height: 534.8px;
}

.card p {
    color: var(--faint-text-color);
    text-align: start;
}

.twoCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 90px auto 24px auto;
}

.OneBigCard{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 24px;
}

.BigCard-info{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 30px 0;
}

#Enterprise-section{
    width: 100%;
    min-height: 100vh;
    background-color: var(--second-bg-color);
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Enterprise{
    width: 65%;
    padding: 96px 0 ;
}

#Enterprise-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 48px 0;
    width: 65%;
}

.Enterprise-box p:first-of-type{
    margin: 32px 0 16px 0;
}

.Enterprise-box p:last-of-type{
    color: var(--faint-text-color);
    font-size: 16px;
    line-height: 24px;
}

#customer-story{
    background-image: url(assets/anthropic-customer-story.svg);
    width: 70%;
    margin: 50px auto 0 auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1020px;
    height: 518px;
    padding: 64px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.story-card div{
    display: flex;
    align-items: center;
    gap: 4px;
}

#customer-story :last-child{
    display: flex;
    align-items: center;
    gap: 8px;
}

#customer-story :last-child div{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: flex-start;
    align-items: start;
    gap: 4px;
    width: 200px;
    /* background-color: red; */
}

#customer-story :last-child div :last-child{
    color: var(--faint-text-color);
    font-size: 14px;
}

#company-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 50px auto;
    
    width: 65%;
}

#customers-section{
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#customers-section :first-child{
    text-align: center ;
    width: 44%;
    margin: 0 auto;

}

#customers-section :first-child :last-child{
    font-size: 16px;
    color: var(--faint-text-color);
}

